html, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}
body{
    width: 900px;
}
header{
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    color:darkblue;
    margin-left: 11em;
}
.menuitems{
    background-color: antiquewhite;
    width: 900px;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
a{
    margin: 1em;
    font-size: medium;

}
